---
import Post from "./Post";
const { posts } = Astro.props;
---

<div id="postList">
  {
    posts.map((post: any) => (
      <Post
        client:load
        userhandle={post.userhandle}
        caption={post.caption}
        mediaSource={post.mediaSource}
        likeCount={post.likeCount}
        createdAt={post.createdAt}
      />
    ))
  }
</div>
